* {
    font-family: Verdana, Lucida Sans, Arial, Helvetica, sans-serif;
}

body {
    margin: 0px auto;
    background-color:#222;
}

.contents {
	display: flex;
	display: -webkit-flex;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 360px;
	height: 360px;
}


.content_text {
	display: block;
	width: 300px;
	font-weight:bold;
	font-size:2em;
	text-align: center;
	color:#fff;
	margin-top: 5px;
}

#textbox2 {
	display: inline-block;
	width: 150px;
	margin-top: 10px;
}

#textbox2 a {
	color: white;
	text-decoration: none;
}

#textbox3 {
	display: inline-block;
	width: 150px;
	margin-top: 10px;
}

#textbox3 a {
	color: white;
	text-decoration: none;
}

#textbox4{
		margin-top: 70px;
}

#textbox4 a {
	color: white;
	text-decoration: none;
}